{{ define "head" }}
  <!-- Formbricks Script nur für Kontakt-Seite -->
  <script type="text/javascript">
  !function(){
      var appUrl = "https://formbricks.jaehrig.de";
      var environmentId = "cmk41sudv0007nq0142v6utqp";
  var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=appUrl+"/js/formbricks.umd.cjs";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e),setTimeout(function(){window.formbricks.setup({environmentId: environmentId, appUrl: appUrl})},500)}();
  </script>
{{ end }}

{{ define "main" }}
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      {{ if .Params.featured_image }}
        <img src="{{ .Params.featured_image }}" alt="{{ .Title }}">
      {{ end }}
    </header>
    <div class="content">
      {{ .Content }}
    </div>
  </article>
{{ end }}
